h1{
  margin: 50px;
	color: black;
	text-align: center;
  font-family:Quicksand-regular;
  font-size: 75;
  letter-spacing: 0.7em;
  text-indent: 0.7em;
}

h2{
  margin: 50px;
	color: black;
	text-align: center;
  font-family:Quicksand-regular;
  font-size: 50;
}

@font-face {
    font-family:Quicksand-regular ;
    src: url('src/police/Quicksand-regular.otf');
}
div{
  margin: 50px 10% 20px;;
  padding: auto;
  background-color:white;
}


body{
  background-color: white;
}

.espaceMusique{
  margin: auto;
  margin-bottom: 50px;
  height: 150px;
  width: 1400px;
  background-color: grey;
}

.logoMusique{
  margin: 25px 25px;
  height: 100px;
  width: 100px;

}

.logoMusique:hover{
  opacity: 0.5;
}
