h1{
  text-align: center;
  font-family: sans-serif;
  color: gray;
  font-size: 75;
}
body{
  background-color: rgb(7, 10, 10);
}
div{
  margin: 50px 10% 20px;;
  padding: auto;
  background-color: rgb(7 ,10 ,10);
}
